$color-primary-white: #ffffff;
$color-primary-black: #121212;
$color-primary-light-gray: #dedede;
$color-primary-dark-gray: #575757;

$color-secondary-white: #fcfcfc;
$color-secondary-black: #1a1818;
$color-secondary-gray: #9c9c9c;

$color-accent-red: #9b4b4b;
$color-accent-gold: #ab8956;
$color-accent-error: #ae2917;

$color-btn-default-bg: #232323;
$color-btn-default-bg-dark: #ba9052;
$color-btn-default-shadow: #000000;
$color-btn-default-shadow-dark: #ab8956;

$color-modal-bg: #030303;

$color-scroll-bg-light: #1212120d;
$color-scroll-bg-dark: #cdcdcd0d;
