$color-primary-white: #FFFFFF;
$color-primary-black: #121212;
$color-primary-light-gray: #DEDEDE;
$color-primary-dark-gray: #575757;

$color-secondary-white: #FCFCFC;
$color-secondary-black: #1A1818;
$color-secondary-gray: #9C9C9C;

$color-accent-red: #9B4B4B;
$color-accent-gold: #AB8956;
$color-accent-error: #AE2917;