@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local('Inter'), url('../../assets/fonts/Inter/Inter-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local('Inter'), url('../../assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local('Inter'), url('../../assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 500;
  src: local('Cormorant SC'),
    url('../../assets/fonts/Cormorant_SC/CormorantSC-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 600;
  src: local('Cormorant SC'),
    url('../../assets/fonts/Cormorant_SC/CormorantSC-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 700;
  src: local('Cormorant SC'),
    url('../../assets/fonts/Cormorant_SC/CormorantSC-Bold.woff2') format('woff2');
}
