@import "fonts";
@import 'colors';

html {
  box-sizing: border-box;
}

*,*::after,*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.dark-theme {
  background-color: $color-primary-black;
  color: $color-primary-light-gray;
}

.light-theme {
  background-color: $color-primary-white;
  color: $color-primary-dark-gray;
}

