.slider {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform: translateY(-50%);
  background-color: $color-secondary-white;

  &_dark {
    background-color: $color-primary-black;
  }

  &_dark & {
    &__img-info {
      background-color: $color-primary-black;
      &:before {
        border-color: $color-accent-gold;
      }
    }
    &__img-title {
      color: $color-primary-white;
    }
    &__img-subtitle {
      color: $color-accent-gold;
    }
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    @include md {
      padding: 40px 40px 60px 40px;
    }
    @include lg {
      padding: 60px 20px 100px 20px;
    }
  }

  &__slides {
    display: flex;
    align-items: center;
    min-height: 100vh;

    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  &__slide {
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: flex-end;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }

  &__img-info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 254px;
    padding: 16px 12px 24px 12px;
    margin-left: -20px;
    background-color: $color-secondary-white;
    margin-bottom: 62px;

    @include md {
      min-width: 498px;
      padding: 40px 20px;
      margin-left: 0;
      margin-bottom: 0;

      &:before {
        content: '';
        position: absolute;
        border-left: 2px solid;
        border-color: $color-accent-red;
        min-height: 42px;
        height: 50%;
        top: 25%;
        left: 0;
      }
    }
  }

  &__img-title {
    font-family: 'Cormorant SC', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-primary-black;

    @include md {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__img-subtitle {
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    color: $color-accent-red;

    @include md {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__img {
    position: absolute;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }

  &__counter {
    position: relative;
    display: flex;
    align-items: flex-end;
    font-family: 'Cormorant SC', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 128%;
    color: $color-primary-light-gray;

    @include md {
      font-weight: 600;
      font-size: 32px;
      line-height: 100%;
    }
  }

  &__control {
    position: absolute;
    top: 50%;
    width: 100%;
    display: none;
    z-index: 1;

    @include md {
      display: flex;
      justify-content: space-between;
    }
  }

  &__prev-btn,
  &__next-btn {
    background-color: transparent;
    outline: none;
    border: none;
    color: $color-primary-white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    &:disabled {
      cursor: default;
      color: $color-secondary-gray;
    }
  }

  &__prev-btn {
    transform: rotate(-180deg);
  }

  &__img-control {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: -60px;

    @include md {
      top: 20px;
      right: 20px;
      bottom: auto;
    }
  }

  &__cover-btn {
    position: absolute;
    top: 20px;

    @include md {
      top: 40px;
    }
    @include lg {
      top: 60px;
    }
  }

  &__close-btn-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;

    @include md {
      padding: 40px 40px 60px 40px;
    }
    @include lg {
      padding: 60px 20px 100px 20px;
    }
  }

  &__close-btn {
    position: absolute;
    display: flex;
    background-color: transparent;
    outline: none;
    border: none;
    color: $color-primary-light-gray;
    cursor: pointer;

    &:hover {
      color: $color-primary-white;
    }
  }
}
