.modal {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba($color-modal-bg, 0.3);

  &_dark {
    background-color: rgba($color-modal-bg, 0.6);
  }

  &__content {
    position: static;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
