.delete-popup {
  position: relative;
  width: 100%;
  margin-top: auto;

  @include md {
    margin-top: 0;
    width: auto;
  }

  &_dark & {
    &__content {
      background-color: $color-primary-black;
    }

    &__title {
      color: $color-primary-light-gray;
    }

    &__description, &__icon, &__close-btn {
      color: $color-secondary-gray;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 25px;
    text-align: center;
    background-color: $color-primary-white;

    @include md {
      padding: 60px 40px;
      max-width: 320px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $color-primary-dark-gray;
  }

  &__description {
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    color: $color-secondary-gray;
    margin-top: 12px;
  }

  &__icon {
    display: none;
    color: $color-primary-dark-gray;
    margin-bottom: 32px;

    @include md {
      display: block;
    }
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;

    @include md {
      margin-top: 32px;
    }
  }

  &__close-btn {
    display: none;
    background-color: transparent;
    outline: none;
    border: none;

    color: $color-primary-dark-gray;
    cursor: pointer;

    @include md {
      position: absolute;
      display: flex;
      top: 24px;
      right: 24px;
    }
  }
}
