.button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.2s ease-out;

  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  &_default {
    min-width: 200px;
    border-radius: 30px;
    padding: 16px 20px;

    background-color: $color-primary-black;
    color: $color-primary-white;

    &.button_dark {
      background-color: $color-accent-gold;
    }

    &:hover,
    &:focus {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

      &.button_dark {
        box-shadow: 0 4px 10px rgba(171, 137, 86, 0.25);
      }
    }

    &:disabled {
      opacity: 0.5;
    }

    &:focus {
      background-color: #232323;

      &.button_dark {
        background-color: #ba9052;
      }
    }
  }

  &_text {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: underline;
    text-underline-offset: 2px;

    color: $color-primary-dark-gray;
    background-color: transparent;

    &.button_dark {
      color: $color-primary-light-gray;
    }

    &:hover,
    &:focus {
      color: $color-primary-black;
      &.button_dark {
        color: $color-primary-white;
      }
    }

    &:disabled {
      color: $color-primary-light-gray;
      &.button_dark {
        color: $color-secondary-gray;
      }
    }
  }

  &_icon {
    padding: 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 28px;
    height: 28px;

    background-color: $color-secondary-white;
    color: $color-primary-dark-gray;

    &.button_dark {
      background-color: $color-secondary-black;
      color: $color-primary-light-gray;
    }

    &:hover,
    &:focus {
      color: $color-primary-black;

      &.button_dark {
        color: $color-primary-white;
      }
    }

    &:disabled {
      color: $color-primary-dark-gray;
    }
  }
}
