.artist {
  position: relative;

  &_dark & {
    &__info {
      background-color: $color-primary-black;
      color: $color-secondary-gray;
    }

    &__name {
      color: $color-accent-gold;
      &:before {
        border-color: $color-accent-gold;
      }
    }

    &__info-detail {
      background-color: $color-primary-black;
    }
  }

  &__container {
    position: relative;
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;

    @include lg {
      min-height: 1000px;
      padding: 0 20px;
    }
  }

  &__content {
    position: relative;

    @include lg {
      top: 60px;
    }
  }

  &__info-wrapper {
    position: relative;
    background-color: inherit;
  }

  &__info {
    position: absolute;
    bottom: 0;
    background-color: $color-primary-white;
    min-width: 300px;
    padding: 20px;
    margin-right: 20px;

    font-family: 'Cormorant SC', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $color-primary-dark-gray;

    @include md {
      width: 560px;
      font-size: 16px;
      line-height: 19px;
      margin-right: 0;
    }

    @include lg {
      position: relative;
      left: 0;
      width: 604px;
      padding: 60px 80px 32px 80px;

      &:after {
        content: '';
        border-bottom: 2px solid;
        border-color: $color-primary-dark-gray;
        width: 30px;
        position: absolute;
        left: 80px;
        bottom: 0;
      }
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    height: 452px;
    aspect-ratio: 80 / 113;

    @include md {
      height: 100%;
      min-height: 500px;
      aspect-ratio: 192 / 125;
    }

    @include lg {
      position: absolute;
      left: 340px;
      top: -60px;
      min-height: 1000px;
      width: 1000px;
    }
  }

  &__name {
    position: relative;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: $color-accent-red;
    margin-top: 8px;

    @include md {
      font-weight: 500;
      font-size: 48px;
      line-height: 100%;
      margin-top: 12px;

      &:before {
        content: '';
        border-left: 2px solid;
        border-color: $color-accent-red;
        height: 100%;
        position: absolute;
        left: -20px;
        top: 0;
      }
    }

    @include lg {
      font-size: 60px;
      line-height: 73px;
      margin-top: 32px;

      &:before {
        left: -80px;
      }
    }
  }

  &__info-detail {
    background-color: $color-primary-white;
    padding: 20px;

    @include md {
      padding: 40px 20px 20px 20px;
    }

    @include lg {
      position: relative;
      left: 0;
      padding: 20px 80px 60px 80px;
      width: 604px;
    }
  }

  &__genres {
    display: flex;
    gap: 12px 8px;
    margin-top: 32px;

    @include md {
      gap: 12px 20px;
    }
  }
}
