.artist-accordion {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-align: justify;

  &_dark & {
    &__text {
      background: linear-gradient(180deg, #DEDEDE 0%, rgba(222, 222, 222, 0.4) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &_full {
        background: $color-primary-light-gray;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__text {
    background: linear-gradient(180deg, #575757 0%, rgba(87, 87, 87, 0.4) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &_full {
      background: $color-primary-dark-gray;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__button {
    margin-top: 20px;
  }
}
