.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $color-primary-white;

  &_dark {
    background-color: $color-primary-black;
  }

  &_dark & {
    color: $color-primary-light-gray;

    &__nav_open {
      background-color: $color-primary-black;
      box-shadow: 0 0 0 3000px rgba(3, 3, 3, 0.6);

      @include lg {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;

    @include md {
      height: 88px;
    }
    @include lg {
      height: 80px;
    }
  }

  &__nav-wrapper {
    position: relative;
    display: flex;
  }

  &__logo {
    color: inherit;
  }

  &__nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    transform: translateX(100%);
    height: 100%;
    z-index: 10;
    padding-left: 47px;
    padding-top: 144px;
    visibility: hidden;

    @include md {
      padding-top: 200px;
    }

    @include lg {
      position: static;
      flex-direction: row-reverse;
      background-color: transparent;
      padding: 0;
      transform: translateX(0%);
      visibility: visible;
    }

    &_open {
      width: 252px;
      background-color: $color-secondary-white;
      transform: translateX(0%);
      transition: all 0.2s ease-in;
      right: 0;
      visibility: visible;
      box-shadow: 0 0 0 3000px rgba(3, 3, 3, 0.3);

      @include md {
        width: 466px;
      }
      @include lg {
        background-color: transparent;
        transition: none;
        box-shadow: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 40px;

    @include md {
      gap: 40px;
      margin-top: 60px;
    }
    @include lg {
      flex-direction: row;
      align-items: center;
      gap: 20px;
      margin-top: 0;
      margin-right: 60px;
    }
  }

  &__item {
    list-style: none;
    white-space: nowrap;
    font-family: 'Cormorant SC', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    cursor: pointer;

    @include md {
      font-weight: 500;
      font-size: 60px;
      line-height: 73px;
    }
    @include lg {
      font-weight: 700;
      font-size: 16px;
      line-height: 128%;
      transition: none;
    }
  }

  &__open-btn {
    cursor: pointer;

    @include lg {
      display: none;
    }
  }

  &__close-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;

    @include md {
      top: 32px;
    }
    @include lg {
      display: none;
    }
  }
}
