.artist-modal {
  background-color: $color-secondary-white;
  width: 100%;
  height: 100vh;
  overflow-y: auto;

  &_dark {
    background-color: $color-primary-black;
  }

  @include lg {
    width: 800px;
    height: auto;
  }

  &__content {
    position: relative;
    padding: 80px 20px;


    @include lg {
      padding: 80px 100px;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    gap: 40px;

    @include lg {
      grid-template-columns: auto 340px;
      column-gap: 60px;
    }
  }

  &__form-inputs {
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @include lg {
      align-items: flex-start;
    }
  }

  &__save-btn {
    margin-top: 8px;
  }

  &__close-btn {
    position: absolute;
    display: flex;
    background-color: transparent;
    outline: none;
    border: none;
    color: $color-primary-dark-gray;
    cursor: pointer;

    top: 24px;
    right: 24px;

    @include md {
      top: 36px;
      right: 24px;
    }

    @include lg {
      top: 36px;
      right: 36px;
    }
  }
}
