.footer {
  border-top: 1px solid;
  border-color: $color-secondary-gray;

  &_dark & {
    &__information {
      color: $color-primary-light-gray;
    }
    &__author {
      color: $color-secondary-gray;
    }
    &__socials {
      color: $color-primary-light-gray;
    }
    &__link {
      color: $color-primary-light-gray;
      &:hover {
        color: $color-primary-white;
      }
    }
  }

  &__content {
    padding: 32px 0;
    display: flex;
    flex-direction: column;

    @include md {
      flex-direction: row;
      justify-content: space-between;
      padding: 40px 0;
    }
  }

  &__information {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    color: $color-primary-dark-gray;

    @include md {
      font-size: 16px;
    }
  }

  &__author {
    margin-top: 12px;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    color: $color-secondary-gray;

    @include md {
      font-size: 16px;
    }
  }

  &__socials {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    color: $color-primary-dark-gray;

    @include md {
      margin-top: 0;
    }
  }

  &__link {
    white-space: nowrap;
    color: $color-primary-dark-gray;
    &:hover {
      color: $color-primary-black;
    }
  }
}