.empty-painting-list {
  position: relative;

  &_dark & {
    &__card {
      border-color: $color-primary-dark-gray;
    }

    &__text {
      color: $color-primary-light-gray;

      &:before {
        border-color: $color-accent-gold;
      }
    }
  }

  &__card {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 8 / 5;
    border: 1px dashed $color-primary-light-gray;
    border-radius: 2px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: calc(100% - 24px);
    left: calc(50% - 24px);

    min-width: unset;
    padding: 16px;
    background-color: $color-accent-red;
    color: $color-primary-light-gray;
  }

  &__text {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;

    font-family: 'Cormorant SC', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    margin-top: 64px;
    padding-top: 20px;

    color: $color-primary-dark-gray;

    @include md {
      margin-top: 110px;
    }

    &:before {
      content: '';
      display: block;
      width: 160px;

      position: absolute;
      left: calc(50% - 80px);
      top: 0;

      border-top: 2px solid $color-accent-red;
    }
  }
}
