@import "./../../assets/scss/colors";

.themeToggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  color: $color-primary-dark-gray;

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-secondary-white;
  }

  &__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: underline;

    @media (min-width: 1280px) {
      display: none;
    }
  }

  &_dark & {
    &__icon {
      background-color: $color-secondary-black;
      color: $color-primary-light-gray;
    }
    &__text {
      color: $color-primary-light-gray;
    }
  }
}