@import "./../../assets/scss/colors";

.themeToggle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &_dark {
    background-color: $color-secondary-black;
    color: $color-primary-light-gray;
  }
  &_light {
    background-color: $color-secondary-white;
    color: $color-primary-dark-gray;
  }
}