.card {
  position: relative;
  aspect-ratio: 8 / 5;
  overflow: hidden;
  cursor: pointer;

  &_dark & {
    &__info {
      background-color: $color-primary-black;
      &:before {
        border-color: $color-accent-gold;
      }
    }
    &__title {
      color: $color-primary-light-gray;
    }
    &__subtitle {
      color: $color-accent-gold;
    }
    &__arrow {
      background-color: $color-accent-gold;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    width: 260px;
    padding: 8px 24px 8px 12px;
    background-color: $color-primary-white;
    pointer-events: none;

    @include md {
      padding: 12px 24px 12px 12px;
      width: 324px;
    }

    @include lg {
      padding: 20px;
      width: 300px;

      &:before {
        content: '';
        border-left: 2px solid;
        border-color: $color-accent-red;
        position: absolute;
        height: 42px;
        left: 0;
        top: 25%;
      }
    }
  }

  &__title {
    font-family: 'Cormorant SC', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-primary-black;

    @include md {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__subtitle {
    margin-top: 4px;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    color: $color-accent-red;

    @include md {
      margin-top: 8px;
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__arrow {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-accent-red;
    color: $color-primary-light-gray;

    @include lg {
      display: none;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    &_scale {
      transition: 0.5s ease-out;

      @include lg {
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
