.empty-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-secondary-white;
  height: 452px;
  aspect-ratio: 80 / 113;
  width: 100%;

  @include md {
    justify-content: center;
    height: 100%;
    min-height: 500px;
    aspect-ratio: 192 / 125;
  }

  @include lg {
    position: absolute;
    left: 278px;
    top: -60px;
    min-height: 1000px;
    width: 1000px;
  }

  @include xl {
    left: 340px;
  }

  &_dark {
    background-color: $color-secondary-black;
  }

  &_dark & {
    &__icon {
      opacity: 0.1;
    }
  }

  &__icon {
    opacity: 0.2;
    margin-top: 40px;

    @include md {
      margin-top: -30px;
    }

    @include lg {
      margin-top: unset;
    }
  }

  &__text {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $color-secondary-gray;
    opacity: 0.5;
    margin-top: 32px;
  }
}
